.main{
    background: khaki;
    margin-left: 420px;
}

.btn{
    width: 180px;
    height: 180px;
}

.btn-start{
    margin-top: 20px;
    margin-left: 43%;
    width: 60px;
    height: 60px;
}

.content{
    padding :0;
    margin: 0;
}

body { background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); }